:root {
  --paleyellow: #ffe169;
  --lightyellow: #fad643;
  --yellow: #f4e409;
  --lightmustard: #eeba0b;
  --darkmustard: #c36f09;
  --brown: #a63606;
  --maroon: #710000;
  --white: white;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
  min-height: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 20vw;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--darkmustard);
  z-index: 1;
}

li {
  float: left;
}

li a {
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: 1.21875rem;
  padding: 4.3vh 50px;
  color: var(--white);
  height: 4vh;
}

li a:active {
  color: var(--maroon);
}

.active {
  background-color: var(--lightmustard);
}

li:hover:not(.active) {
  background-color: var(--lightmustard);
}


.smalllogo {
  z-index: 2;
  position: fixed;
  
}

.mobilelogo{
  
  position: absolute;
  display: none;
}

.content1{
  height: 100%;
  display: block;
  padding-top: 35vh;
  margin-left: 3vw;
  margin-right: 3vw;
  padding-bottom: 10vh;
}

.title{
  font-family: 'Alegreya', serif;
  font-size: 2.5rem;
  font-weight: 500;
  width: 50%;
  line-height: 1.5;
  
  
}

.line2{
 color: var(--brown);
}
.Farmingly{
  position: relative;
  width: 100%;
  height: 90%;
  
}

.Farmingly::before{
  content: "";
  display: block;
  background-color: var(--lightmustard);
  position: absolute;
  top: 5vh;
  height: 0.5rem;
  width: 100%;
  box-sizing: border-box;
  z-index: -1;
 
}

.Farmingly:hover{
 background:var(--lightyellow);
 
}

.content2{
  height: 220vh;
  width: 100vw;
  background-color: var(--paleyellow);
  position: relative;
  
}


.column1{
  width: 40vw;
  height: 80vh;
  background-color: transparent;
  margin: 5vh; 
position: relative;
  top: -10vh;
  left: 50vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-sizing: border-box;
}

.sub-column-1{
  height: 50vh;
  width: 40vw;
  margin: 0;
  background-color: var(--white);
  position: absolute;
  top: 0;
}

.sub-sub-column-1{
  height: 30vh;
  width: 40vw;
  background-color: var(--maroon);
  position: absolute;
  bottom: 0;
  text-align: center;
  color:var(--white);
  line-height: 1.2;
  
}

.who-we-are{
  width: 40vw;
  height: 50vh;
}





 .who-title{
   font-family: 'Dancing Script', cursive;
   font-size: 2.3rem;
   font-weight: bold;
   text-align: center;
   color: var(--paleyellow);
   padding: 0;
   line-height: normal;
   
 }

 
 
 








.column2{
  width: 40vw;
  height: 80vh;
  background-color: transparent;
  margin: 5vh; 
  position: relative;
  top: -60vh;
  left: 3vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sub-column-2{
  height: 50vh;
  width: 40vw;
  margin: 0;
  background-color: var(--white);
  position: absolute;
  top: 0;
}

.sub-sub-column-2{
  height: 30vh;
  width: 40vw;
  background-color: var(--maroon);
  position: absolute;
  bottom: 0;
}


.what-title{
   font-family: 'Dancing Script', cursive;
   font-size: 2.5rem;
   font-weight: bold;
   text-align: center;
   color: var(--darkmustard);
   padding: 0;
   background-color:#E6E7E9;
   margin: 0 2vw;
   padding: 5vh;
 }

 .aim{
   font-size: 1.2rem;
   text-align: center;
   line-height: 1.5;
   background-color:#E6E7E9;
   margin: 0 2vw;
 }

 .man{
   transform: scale(0.2,0.2);
   position: absolute;
   
   bottom: -55vh;
   left: -5vw;
 }

 .woman{
   transform: scale(0.2,0.2);
   position: absolute;
   bottom: -55vh;
   right: -5vw;
 }





.column3{
  width: 40vw;
  height: 80vh;
  background-color: transparent;
  margin: 5vh; 
  position: relative;
  top: -70vh;
  left: 50vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sub-column-3{
  height: 50vh;
  width: 40vw;
  margin: 0;
  background-color: var(--white);
  position: absolute;
  top: 0;
}

.sub-sub-column-3{
  height: 30vh;
  width: 40vw;
  background-color: var(--maroon);
  position: absolute;
  bottom: 0;
}

.mission{
  width: 40vw;
  height: 30vh;
}

.tractor{
  position: absolute;
  width: 40vw;
  top: 5vh;
}


.why-title{
  font-family: 'Dancing Script', cursive;
   font-size: 2.5rem;
   
   text-align: center;
   color: var(--paleyellow);
   padding: 0;
   margin: 2vh 0 0 0;
}

.why{
  color: var(--white);
  margin: 20px;
  line-height: 1.5;
}

.column4{
  width: 40vw;
  height: 80vh;
  background-color: transparent;
  margin: 5vh; 
  position: relative;
  top: -110vh;
  left: 3vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sub-column-4{
  height: 60vh;
  width: 40vw;
  margin-top: 5px;
  background-color: var(--white);
  position: absolute;
  top: 0;
}

.here-now {
  width: 40vw;
  position: absolute;
  bottom: 0;
  height: 20vh;
  background-color: #710000;
}

.when{
  font-family: 'Dancing Script', cursive;
   font-size: 2.5rem;
   line-height: 1.3;
   text-align: center;
   color: var(--white);
   padding: 0;
   margin: 4vh 0 0 0;
   
  
   
}

.sub-column-4 iframe{
  height: 50vh;
  width: 40vw;
}
.column-title{
  color: var(--brown);
  font-style:oblique ;
  font-size: 1.6rem;
  position: relative;
  bottom: 1.8rem;
}

.column-title span{
  color: black;
  font-style: normal;
  font-weight: bold;
}











label {
  float: right;
  color: var(--white);
  position: fixed;
  right: 3vw;
  top: 2vh;
  font-size: 1.21875rem;
  display: none;
}
#toggle {
  display: none;
  color: var(--white);
  float: right;
  position: relative;
}


.citations{
  text-decoration: none;
  color: var(--maroon);
  position: absolute;
 
  right: 0;
  width: 200px;
  padding: 0.5%;
}

.citations:hover{
  color: var(--darkmustard);
}

footer{
  margin-top: 15vh ;
  background-color: var(--maroon);
  padding: 50px;
  position: relative;
  top: 10vh;
}

footer div{
  display: inline-block;
  color: var(--white);
  font-size: 1.2rem;
}

.copyright{
  position: absolute;
  left: 6vw;
  bottom: 1.2rem;

}
.social-media{
  position: absolute;
  right: 6vw;
}

i{
  padding: 0 1vw;
}




/* for mobiles */

@media screen and (max-width: 1000px) {
  ul {
    right: -120vw;
    transition: all 0.5s ease-in;
    top: 9.1vh;
    z-index: 1;
  }

  li {
    float: none;
  }
  li a {
    height: 0.5vh;
    text-align: center;
  }
  label {
    display: block;
    cursor: pointer;
    background-color: var(--darkmustard);
    color: var(--white);
    padding: 3vh 5vw 3vh 100vw;
    margin: 0;
    top: 0;
    right: 0;
    z-index: 1;
  }
  #toggle:checked ~ * ul {
    right: 0;
    top: 9.1vh;
  }

  .title{
    width: 100%;
    font-size: 2rem;
    padding: 10% 0;
  }

  .content1{
    height: 120%;
    padding-top: 15vh;
  }

  .content2{
    height: 400vh;
  }

  .column1,.sub-column-1,.sub-sub-column-1,.who-we-are{
    left: 0;
    width: 100%;
    margin: 0;
    
    
    position: absolute;

  }

  .who-title{
    font-size: 2rem;
  }
  
  .sub-sub-column-1 p{
    margin: 5%;
  }

  
  .column2{
    position: absolute;
    top: 90vh;
    width: 100%;
    left: 0;
    margin: 0;
    padding: 0;

  }

  .column-title{
    bottom: 8vh;
    
  }

  .aim,.sub-column-2,.sub-sub-column-2{
    
    margin: 0 ;
    left: 0;
    width: 100%;
  }
  .aim{
    padding:5% 10% 5% 2px;
    font-size: 1rem;
    text-align: left;
  }

 

  .what-title{
    padding: 0;
    width: 100%;
    margin: 0;
    font-size: 2rem;
  }


  
   

  .column3{
    position: absolute;
    top: 200vh;
    width: 100%;
    margin: 0;
    left: 0;
  }

  .sub-column-3,.sub-sub-column-3{
    margin: 0;
    left: 0;
    width: 100%;
  }

  .tractor{
    width: 100%;
  }

  .why-title{
    font-size: 2rem;
  }

  .why{
    font-size: 1rem;
    
  }




  .column4{
    position: absolute;
    top: 300vh;
    width: 100%;
    min-width: 100%;
    left: 0;
    margin: 0;
  }

  .mission{
    width: 100%;
  }

  .sub-column-4,.here-now{
    margin: 0;
    left: 0;
    width: 100%;
  }

  .sub-column-4 iframe{
    width: 100%;
     
  }

  .smalllogo{
    display:none;
  }

  .mobilelogo{
    position: fixed;
    display: inline;
    z-index: 2;
    
    left: 2vw;
  }


  .footer{
    top: 800vh;
  }
}
