:root {
  --paleyellow: #ffe169;
  --lightyellow: #fad643;
  --yellow: #f4e409;
  --lightmustard: #eeba0b;
  --darkmustard: #c36f09;
  --brown: #a63606;
  --maroon: #710000;
  --white: white;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
  min-height: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 20vw;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--darkmustard);
  z-index: 1;
}

li {
  float: left;
}

li a {
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: 1.21875rem;
  padding: 4.3vh 50px;
  color: var(--white);
  height: 4vh;
}

li a:active {
  color: var(--maroon);
}

.active {
  background-color: var(--lightmustard);
}

li:hover:not(.active) {
  background-color: var(--lightmustard);
}

.smalllogo {
  z-index: 2;
  position: fixed;
  top: 0vh;
}

.mobilelogo{
  
  position: absolute;
  display: none;
}

.navig{
  float: right;
  color: var(--white);
  position: fixed;
  right: 3vw;
  top: 2vh;
  font-size: 1.21875rem;
  display: none;
}
#toggle {
  display: none;
  color: var(--white);
  float: right;
  position: relative;
}

.content{
  height: 100vh;
  margin-top:12.4vh ;
}


.contact{
  display: flex;

  margin: 5%;
  width: 100vw;
  height: 60vh;
  
}
.contact-text{
  
  position: absolute;
  top: 15vh;
  flex: 30%;
  
}

.connect{
  font-size: 4rem;
  font-family: 'Alegreya', serif;
  font-weight: bold;
  margin: 0;
  color: var(--maroon);
}

.feel-free{
  font-size: 2rem;
  
}

.contact-form{
  position: absolute;
  right: 5%;
  top: 6vh;
  width: 40%;
  padding:2% 5%;
  flex: 30%;
}

.scroll{
  transform: scale(0.3,0.25);
  margin: 0;
  position: absolute;
  top: -13vh;
  left: -10vw;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 3.5%;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 4.2% 4% 4.2% 0;
  display: inline-block;
}

input[type=submit] {
  background-color: var(--maroon);
  color: white;
  padding: 3% 10%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  margin: 2%;
}

input[type=submit]:hover {
  background-color:var(--darkmustard);
}

.contact-form{
  border-radius: 5px;
  background-color: #f2f2f2;
  
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.donate{
  background-color: var(--paleyellow);
  width: 100%;
  height: 150%;
  display: flex;
  flex-direction: row;
  
}

.stand{
 transform: scale(1,1);
 position: relative;
 
}

.donate-info{
  width: 80%;
  text-align: center;
  font-family: 'Alegreya', serif;
  font-size: 1.5rem;
  line-height: 1.5;
}

.donate-text{
  position: absolute;
  left: 60vw;
  
}


.donate-form{
  width: 40%;
  margin: 2% 3%;
  
}

.heading{
  text-align: center;
  padding-bottom: 5%;
  font-size: 1.5rem;
  font-family: 'Alegreya', serif;
}




.citations{
  text-decoration: none;
  color: var(--maroon);
  position: absolute;
  bottom: 10vh;
  right: 0;
  width: 200px;
  padding: 0.5%;
}

.citations:hover{
  color: var(--darkmustard);
}





footer{
  margin-top: 150vh ;
  background-color: var(--maroon);
  padding: 50px;
}

footer div{
  display: inline-block;
  color: var(--white);
  font-size: 1.2rem;
}

.copyright{
  position: absolute;
  left: 6vw;
  bottom: 1.2rem;

}
.social-media{
  position: absolute;
  right: 6vw;
}

i{
  padding: 0 1vw;
}


/* for mobiles */

@media screen and (max-width: 900px) {
  ul {
    right: -120vw;
    transition: all 0.5s ease-in;
    top: 9.1vh;
    z-index: 1;
  }

  li {
    float: none;
  }
  li a {
    height: 0.5vh;
    text-align: center;
  }
 .navig {
    display: block;
    cursor: pointer;
    background-color: var(--darkmustard);
    color: var(--white);
    padding: 3vh 5vw 3vh 100vw;
    margin: 0;
    top: 0;
    right: 0;
    z-index: 1;
  }
  #toggle:checked ~ * ul {
    right: 0;
    top: 9.1vh;
  }
  
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }

  .content{
    height: 200vh;
  }

  footer{
    margin-top: 350vh;
  }

  .contact,.donate{
    flex-direction: column;
    display: block;
  }

  .contact-form{
    width: 80%;
    padding-right: 12%;
    padding-left: 20%;
    top: 100vh;
    background-color: transparent;
  }

  .donate-text{
    top: 230vh;
    left: 0;
  }

  .donate-form{
    width: 80%;
    top: 330vh;
    position: absolute;
  }
  .donate{
    height: 200%;
   
  }
  .donate-info{
    width: 90%;
    padding: 5%;
    
  }
  .heading{
    width: 100%;
    padding: 5%;
  }

  input[type=submit] {
    position: relative;
    left: 5%;
    top: 5vh;
  }

  .smalllogo{
    display:none;
  }

  .mobilelogo{
    display: inline;
    position: fixed;
    z-index: 2;
    top: 0vh;
    left: 2vw;
  }
}
