:root {
  --paleyellow: #ffe169;
  --lightyellow: #fad643;
  --yellow: #f4e409;
  --lightmustard: #eeba0b;
  --darkmustard: #c36f09;
  --brown: #a63606;
  --maroon: #710000;
  --white: white;
}

body{
    margin:0;
    padding: 0;
    position: relative;
    font-family: 'Lato', sans-serif;
    overflow-x:hidden;
    min-height: 100%;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--darkmustard);
  z-index: 1;
}

li {
  float: left;
}

li a {
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: 1.21875rem;
  padding: 4.3vh 50px;
  color: var(--white);
  height: 4vh;
}

li a:active {
  color: var(--maroon);
}

 .active {
  background-color: var(--lightmustard);
}

li:hover:not(.active) {
  background-color: var(--lightmustard);
}

.smalllogo {
  float: left;
}

label {
  float: right;
  color: var(--white);
  position: fixed;
  right: 3vw;
  top: 2vh;
  font-size: 1.21875rem;
  display: none;
}
#toggle {
  display: none;
  color: var(--white);
  float: right;
  position: relative;
}

.title{

   list-style-type:none ;
   padding-left: 0.5vw;
   margin: 0; 
   position: absolute;
   top: 88vh;
   
   font-family: 'Alegreya', serif;
   font-size: 3rem;
   overflow: hidden;
   color:black;
   
     
}



.title h2{
  padding: 0;
  margin: 0;
  color: var(--paleyellow);
}






ul li h1{
    margin: 0;
    
}




section{
    margin: 0;
    width: 100%;
    height: 87.7vh;
    background: url(/images/covid.jpg);
    background-size: cover;
    position: relative;
    top:12.3vh;
    
}



.content{
    position: absolute;
    top: 100vh;
    
    
}

.container{
  padding: 50px 60px 30px 60px;
  
}

.lines{
  width: 90vw;
  height: 45px;
  
  position: relative;
}

.lines::before, .lines::after{
  background: var(--darkmustard);
  position: absolute;
  content: '';
  margin: auto;
  height: 2px;
  width: 38vw;
  top: 45%;
}

.lines::after{
  left: 5vw;
}

.lines::before{
  right: 5vw;
}

#line{
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: 2rem;
  color: var(--darkmustard);
  text-align: center;
}

.intro p{
  padding:0 15%;
  font-size: 1.4rem;
  text-align: center;
  
}

.aim{
  background: var(--lightmustard);
  margin: 15vh 0;
  transition: width 2s;
}

.aim p{
  font-size: 1.5rem;
  color: var(--maroon);
}

.aim:nth-child(even){
  text-align: left;
  width: 60vw;
  padding: 5vh 10vw 5vh 2vw;
}

.aim:nth-child(even):hover{
  width: 80vw;
}


.aim:nth-child(odd){
  transform: translate(28vw,0);
  text-align: right;
  width: 60vw;
  padding: 5vh 5vw 5vh 10vw;
}

.donate-button {
  margin: 5vh 15vw 5vh 18vw;
   background: #A63606;
   background-image: -webkit-linear-gradient(top, #A63606, #C36F09);
   background-image: -moz-linear-gradient(top, #A63606, #C36F09);
   background-image: -ms-linear-gradient(top, #A63606, #C36F09);
   background-image: -o-linear-gradient(top, #A63606, #C36F09);
   background-image: -webkit-gradient(to bottom, #A63606, #C36F09);
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
   border-radius: 15px;
   color: #FFFFFF;
   font-family: 'Alegreya', serif;
   font-size: 1.3rem;
   font-weight: 600;
   padding: 20px 50px;
   border: solid #337FED 0;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.donate-button:hover {
   border: solid #FFAE00 0;
   background: #A63606;
   background-image: -webkit-linear-gradient(top, #A63606, #C36F09);
   background-image: -moz-linear-gradient(top, #A63606, #C36F09);
   background-image: -ms-linear-gradient(top, #A63606, #C36F09);
   background-image: -o-linear-gradient(top, #A63606, #C36F09);
   background-image: -webkit-gradient(to bottom, #A63606, #C36F09);
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
   border-radius: 15px;
   text-decoration: none;
   color: var(--paleyellow);
}

.work-button {
  margin: 5vh 15vw;
   background: #A63606;
   background-image: -webkit-linear-gradient(top, #A63606, #C36F09);
   background-image: -moz-linear-gradient(top, #A63606, #C36F09);
   background-image: -ms-linear-gradient(top, #A63606, #C36F09);
   background-image: -o-linear-gradient(top, #A63606, #C36F09);
   background-image: -webkit-gradient(to bottom, #A63606, #C36F09);
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
   border-radius: 15px;
   color: #FFFFFF;
   font-family: 'Alegreya', serif;
   font-size: 1.3rem;
   font-weight: 600;
   padding: 20px 50px;
   border: solid #337FED 0;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.work-button:hover {
   border: solid #FFAE00 0;
   background: #A63606;
   background-image: -webkit-linear-gradient(top, #A63606, #C36F09);
   background-image: -moz-linear-gradient(top, #A63606, #C36F09);
   background-image: -ms-linear-gradient(top, #A63606, #C36F09);
   background-image: -o-linear-gradient(top, #A63606, #C36F09);
   background-image: -webkit-gradient(to bottom, #A63606, #C36F09);
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
   border-radius: 15px;
   text-decoration: none;
   color: var(--paleyellow);
}




footer{
  margin-top: 400vh ;
  background-color: var(--maroon);
  padding: 50px;
  
}

footer div{
  display: inline-block;
  color: var(--white);
  font-size: 1.2rem;
}

.copyright{
  position: absolute;
  left: 6vw;
  bottom: 1.2rem;

}
.social-media{
  position: absolute;
  right: 6vw;
}

i{
  padding: 0 1vw;
}


@media screen and (max-width: 800px) {
  ul {
    right: -100vw;
    transition: all 0.5s ease-in;
    top: 9.6vh;
    z-index: 1;
  }

  li {
    float: none;
  }
  li a {
    height: 0.5vh;
    text-align: center;
  }
  label {
    display: block;
    cursor: pointer;
    background-color: var(--darkmustard);
    color: var(--white);
    padding: 3vh 5vw 3vh 100vw;
    margin: 0;
    top: 0;
    right: 0;
    z-index: 1;
  }
  #toggle:checked ~ * ul {
    right: 0;
    top: 9.6vh;
  }
 
  

  .title{
    font-size: 2rem;
    top: 40vh;
  }

  section{
    height: 40vh;
    max-width:100% ;
    top: 8vh;
  }
  
  .container{
  padding: 0;
  
}

.content{
  top: 55vh;
}

.aim p{
  font-size: 1.1rem;
}

.aim:nth-child(odd){
  transform: translate(25vw,0);
  text-align: right;
  width: 60vw;
  padding: 5vh 5vw 5vh 10vw;
}

.donate-button{
  font-size: 1.2rem;
  margin: 5vh 10vw 5vh 10vw ;
  padding: 5% 5%;
}

.work-button{
  font-size: 1.2rem;
  margin: 5vh 0vw 5vh 8vw;
  padding: 5% 5%;
}


}