:root {
  --paleyellow: #ffe169;
  --lightyellow: #fad643;
  --yellow: #f4e409;
  --lightmustard: #eeba0b;
  --darkmustard: #c36f09;
  --brown: #a63606;
  --maroon: #710000;
  --white: white;
}

body{
    margin:0;
    padding: 0;
    position: relative;
    font-family: 'Lato', sans-serif;
    overflow-x:hidden;
    min-height: 100%;
}

ul{
  list-style-type: none;
  margin: 0;
  padding-left: 20vw;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--darkmustard);
  z-index: 1;
}

li {
  float: left;
}

li a {
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: 1.21875rem;
  padding: 4.3vh 50px;
  color: var(--white);
  height: 4vh;
}

li a:active {
  color: var(--maroon);
}

 .active {
  background-color: var(--lightmustard);
}

li:hover:not(.active) {
  background-color: var(--lightmustard);
}

.smalllogo {
  z-index: 2;
  position: fixed;
  
}

.mobilelogo{
  
  position: absolute;
  display: none;
}

label {
  float: right;
  color: var(--white);
  position: fixed;
  right: 3vw;
  top: 2vh;
  font-size: 1.21875rem;
  display: none;
}
#toggle {
  display: none;
  color: var(--white);
  float: right;
  position: relative;
}

.title{

   list-style-type:none ;
   padding-left: 0.5vw;
   margin: 0; 
   position: absolute;
   top: 88vh;
   
   font-family: 'Alegreya', serif;
   font-size: 3rem;
   overflow: hidden;
   color:black;
   
     
}



.title h2{
  padding: 0;
  margin: 0;
  color: var(--paleyellow);
}






ul li h1{
    margin: 0;
    
}




section{
    margin: 0;
    width: 100%;
    height: 87.7vh;
    background: url(/Farmingly/images/covid.jpg);
    background-size: cover;
    position: relative;
    top:12.3vh;
    
}



.content{
    position: absolute;
    top: 100vh;
    
    
}

.container{
  padding: 50px 60px 30px 60px;
  
}

.lines{
  width: 90vw;
  height: 45px;
  
  position: relative;
}

.lines::before, .lines::after{
  background: var(--darkmustard);
  position: absolute;
  content: '';
  margin: auto;
  height: 2px;
  width: 38vw;
  top: 45%;
}

.lines::after{
  left: 5vw;
}

.lines::before{
  right: 5vw;
}

#line{
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: 2rem;
  color: var(--darkmustard);
  text-align: center;
}

.intro p{
  padding:0 15%;
  font-size: 1.4rem;
  text-align: center;
  
}

.aim{
  background: var(--lightmustard);
  margin: 15vh 0;
  transition: width 2s;
}

.aim p{
  font-size: 1.5rem;
  color: var(--maroon);
}

.aim:nth-child(even){
  text-align: left;
  width: 60vw;
  padding: 5vh 10vw 5vh 2vw;
}

.aim:nth-child(even):hover{
  width: 80vw;
}


.aim:nth-child(odd){
  transform: translate(28vw,0);
  text-align: right;
  width: 60vw;
  padding: 5vh 5vw 5vh 10vw;
}


.buttons{
  max-width: 100%;
  margin-bottom: 6%;
}

.button1 {
 
  display: inline-block;
  border-radius: 4px;
  background-color: var(--paleyellow);
  border: none;
  color: var(--maroon);
  text-align: center;
  font-size: 28px;
  padding: 30px;
  width: 250px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button2 {
 
  display: inline-block;
  border-radius: 4px;
  background-color: var(--paleyellow);
  border: none;
  color: var(--maroon);
  text-align: center;
  font-size: 28px;
  padding: 30px;
  width: 250px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button2 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button1 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button2 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button1:hover span {
  padding-right: 25px;
}

.button2:hover span {
  padding-right: 25px;
}

.button1:hover span:after {
  opacity: 1;
  right: 0;
}

.button2:hover span:after {
  opacity: 1;
  right: 0;
}

.button1{
  position: absolute;
  left: 15%;
}
.button2{
  position: absolute;
  right: 15%;
}


.citations{
  text-decoration: none;
  color: var(--maroon);
  position: absolute;
 
  right: 0;
  width: 200px;
  padding: 0.5%;
}

.citations:hover{
  color: var(--darkmustard);
}


footer{
  margin-top: 400vh ;
  background-color: var(--maroon);
  padding: 50px;
  
}

footer div{
  display: inline-block;
  color: var(--white);
  font-size: 1.2rem;
}

.copyright{
  position: absolute;
  left: 6vw;
  bottom: 1.2rem;

}
.social-media{
  position: absolute;
  right: 6vw;
}

i{
  padding: 0 1vw;
}


@media screen and (max-width: 900px) {
  ul {
    right: -120vw;
    transition: all 0.5s ease-in;
    top: 9.6vh;
    z-index: 1;
  }

  li {
    float: none;
  }
  li a {
    height: 0.5vh;
    text-align: center;
  }
  label {
    display: block;
    cursor: pointer;
    background-color: var(--darkmustard);
    color: var(--white);
    padding: 3vh 5vw 3vh 100vw;
    margin: 0;
    top: 0;
    right: 0;
    z-index: 1;
  }
  #toggle:checked ~ * ul {
    right: 0;
    top: 9.6vh;
  }
 
  

  .title{
    font-size: 2rem;
    top: 40vh;
  }

  section{
    height: 40vh;
    max-width:100% ;
    top: 8vh;
  }
  
  .container{
  padding: 0;
  
}

.content{
  top: 55vh;
}

.aim p{
  font-size: 1.1rem;
}

.aim:nth-child(odd){
  transform: translate(25vw,0);
  text-align: right;
  width: 60vw;
  padding: 5vh 5vw 5vh 10vw;
}

.smalllogo{
    display:none;
  }

  .mobilelogo{
    display: inline;
    z-index: 2;
    position: fixed;
    left: 2vw;
  }

.buttons{
  margin-bottom: 35vh;
  margin-top: 5vh;
}

.button1{
  left: 20vw;
  
}

.button2{
  position: relative;
  top: 25vh;
  left: 20vw;
  
}



}