:root {
  --paleyellow: #ffe169;
  --lightyellow: #fad643;
  --yellow: #f4e409;
  --lightmustard: #eeba0b;
  --darkmustard: #c36f09;
  --brown: #a63606;
  --maroon: #710000;
  --white: white;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
  background-color: #FDF8C6;
  min-height: 100%;
}



ul {
  list-style-type: none;
  margin: 0;
  padding-left: 20vw;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--darkmustard);
  z-index: 1;
}

li {
  float: left;
}

li a {
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: 1.21875rem;
  padding: 4.3vh 50px;
  color: var(--white);
  height: 4vh;
}

li a:active {
  color: var(--maroon);
}

.active {
  background-color: var(--lightmustard);
}

li:hover:not(.active) {
  background-color: var(--lightmustard);
}

label {
  float: right;
  color: var(--white);
  position: fixed;
  right: 3vw;
  top: 2vh;
  font-size: 1.21875rem;
  display: none;
}
#toggle {
  display: none;
  color: var(--white);
  float: right;
  position: relative;
}

.smalllogo {
  z-index: 2;
  position: fixed;
  top: 0vh;
  
}

.mobilelogo{
  
  position: absolute;
  display: none;
}

h1{
  text-align: center;
  padding: 0;
  margin-top: 15vh;
  color:var(--maroon);
  
}

hr{
  
  
  
  text-align: center;
  border-style: dotted none none;
  width: 5%;
  border-width: 5px;
  color: rgba(238, 186, 11, 0.5)  ;
}


.timeline{
  margin-top: 5vh;
  position: relative;
  margin: 50px auto;
  width: 80vw;
  padding: 40px 0;
  z-index: -1;
  
}

.timeline::before{
  content: '';
  position: absolute;
  top: 8vh;

  left: 50%;
  width: 5px;
  height: 100%;
  background:var(--white);
}
  

.timeline-item{
  position: relative;
  top: 5vh;
  width: 50%;
  padding: 0vh 5vw 5vh 5vw;
  box-sizing: border-box;
  
}




.image img{
 max-width: 90%;
 border-radius: 10px;
 box-shadow: 0 0 0 6px rgba(195, 111, 9, 0.7) ;
 

}





.timeline-item:nth-child(odd){
  float: left;
  text-align: right;
  clear: both;
  
}

.timeline-item:nth-child(even){
  float: right;
  text-align: left;
  clear: both;
}

.content{
  padding-bottom: 5%;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--darkmustard);
}




.timeline-item:nth-child(odd)::before{
  content: '';
  position: absolute;
  top: 3vh;
  right: -1vw;
  width: 25px;
  height: 25px;
  background: var(--brown);
  border-radius: 50%;
  box-shadow: 0 0 0 5px rgba(238, 186, 11, 0.5) ;
  
  
}

.timeline-item:nth-child(even)::before{
  content: '';
  position: absolute;
  top: 3vh;
  left: -0.65vw;
  width: 25px;
  height: 25px;
  background: var(--brown);
  border-radius: 50%;
  box-shadow: 0 0 0 5px rgba(238, 186, 11, 0.5) ;
  
  
}

.timeline-item-title{
  margin: 0;
  padding: 0;
  font-family: 'Dancing Script', cursive;
  font-size: 3rem;
  color: var(--brown);
}

.timeline-item:nth-child(odd) .image{
  position: relative;
  left: 36vw;
  bottom: 18vh;
}

.timeline-item:nth-child(even) .image{
  position: relative;
  right: 36vw;
  bottom: 15vh;
}

.citations{
  text-decoration: none;
  color: var(--maroon);
  position: absolute;
 
  right: 0;
  width: 200px;
  padding: 0.5%;
}

.citations:hover{
  color: var(--darkmustard);
}

footer{
  margin-top: 15vh ;
  background-color: var(--maroon);
  padding: 50px;
}

footer div{
  display: inline-block;
  color: var(--white);
  font-size: 1.2rem;
}

.copyright{
  position: absolute;
  left: 6vw;
  bottom: 1.2rem;

}
.social-media{
  position: absolute;
  right: 6vw;
}

i{
  padding: 0 1vw;
}

  

/* for mobiles */

@media screen and (max-width: 1200px) {
  ul {
    right: -120vw;
    transition: all 0.5s ease-in;
    top: 9.1vh;
    z-index: 1;
  }

  li {
    float: none;
  }
  li a {
    height: 0.5vh;
    text-align: center;
  }
  label {
    display: block;
    cursor: pointer;
    background-color: var(--darkmustard);
    padding: 3vh 5vw 3vh 100vw;
    color: var(--white);
    margin: 0;
    top: 0;
    right: 0;
    z-index: 1;
  }
  #toggle:checked ~ * ul {
    right: 0;
    top: 9.1vh;
  }
  
  .timeline{
    width: 100vw;
    
  }

  .timeline::before{
    left: 12vw;
  }

  .timeline-item:nth-child(odd),.timeline-item:nth-child(even){
    width: 100%;
    text-align: left;
    padding-left:20vw ;
    padding-bottom:5vh ;
  }

  .timeline-item:nth-child(odd)::before,.timeline-item:nth-child(even)::before{
    left: 10vw;
  }

  .timeline-item:nth-child(odd) .image, .timeline-item:nth-child(even) .image{
    left: 2vw;
    top: 0vh;
    padding-bottom:10vh ;
  }

  
  hr{
    width: 10%;
    
    
    
  }

  .smalllogo{
    display:none;
  }

  .mobilelogo{
    display: inline;
    z-index: 2;
    position: fixed;
    top: 0vh;
    left: 2vw;
  }

  
}
