:root {
  --paleyellow: #ffe169;
  --lightyellow: #fad643;
  --yellow: #f4e409;
  --lightmustard: #eeba0b;
  --darkmustard: #c36f09;
  --brown: #a63606;
  --maroon: #710000;
  --white: white;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  overflow: hidden;
  min-height: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--darkmustard);
  z-index: 1;
}

li {
  float: left;
}

li a {
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: 1.21875rem;
  padding: 4.3vh 50px;
  color: var(--white);
  height: 4vh;
}

li a:active {
  color: var(--maroon);
}

.active {
  background-color: var(--lightmustard);
}

li:hover:not(.active) {
  background-color: var(--lightmustard);
}

.smalllogo {
  float: left;
}

.covid {
  position: fixed;
  bottom: 0;
  background-color: var(--brown);
  width: 100vw;
  margin: 0;
}
p {
  text-align: center;
  font-size: 1.2rem;
  font-family: 'Alegreya', serif;
  font-weight: 500;
  word-spacing: 0.3rem;
}
p a {
  text-decoration: none;
  color: var(--white);
  padding: 0;
}

p a:hover {
  color: var(--paleyellow);
}

.mainlogo {
  transform: scale(1, 1);
  width: 100vw;
  
}
.hero {
 
  position: absolute;
  height: 10vh;
  width: 100vw;
  top: 12.4vh;
}

.landing {
  height: 100vh;
}

label {
  float: right;
  color: var(--white);
  position: fixed;
  right: 3vw;
  top: 2vh;
  font-size: 1.21875rem;
  display: none;
}
#toggle {
  display: none;
  color: var(--white);
  float: right;
  position: relative;
}

/* for mobiles */

@media screen and (max-width: 600px) {
  ul {
    right: -100vw;
    transition: all 0.5s ease-in;
    top: 9.6vh;
    z-index: 1;
  }

  li {
    float: none;
  }
  li a {
    height: 0.5vh;
    text-align: center;
  }
  label {
    display: block;
    cursor: pointer;
    background-color: var(--darkmustard);
    color: var(--white);
    padding: 3vh 5vw 3vh 100vw;
    margin: 0;
    top: 0;
    right: 0;
    position: fixed;
    z-index: 1;
  }
  #toggle:checked ~ * ul {
    right: 0;
    top: 9.6vh;
  }
}
