:root {
  --paleyellow: #ffe169;
  --lightyellow: #fad643;
  --yellow: #f4e409;
  --lightmustard: #eeba0b;
  --darkmustard: #c36f09;
  --brown: #a63606;
  --maroon: #710000;
  --white: white;
}




body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  overflow: hidden;
  min-width: 100%;
  min-height: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 20vw;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--darkmustard);
  z-index: 1;
  min-height: 40px;
}

li {
  float: left;
  min-height: 40px;
}

li a {
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: 1.21875rem;
  padding: 4.3vh 50px;
  color: var(--white);
  height: 4vh;
 
}

li a:active {
  color: var(--maroon);
}

.active {
  background-color: var(--lightmustard);
  min-height: 40px;
}

li:hover:not(.active) {
  background-color: var(--lightmustard);
}

.smalllogo {
  z-index: 2;
  position: absolute;
  
}


.mobilelogo{
  
  position: absolute;
  display: none;
}

.covid {
  position: fixed;
  bottom: 0;
  background-color: var(--brown);
  width: 100vw;
  margin: 0;
}
p {
  text-align: center;
  font-size: 1.2rem;
  font-family: 'Alegreya', serif;
  font-weight: 500;
  word-spacing: 0.3rem;
}
p a {
  text-decoration: none;
  color: var(--white);
  padding: 0;
}

p a:hover {
  color: var(--paleyellow);
}


.hero img{
  z-index: -2;
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 12.4vh;
}

@keyframes reviews {
  
  0%{color: var(--paleyellow);}
  25% {color: var(--lightmustard);}
  60% {color: var(--brown);}
  100% {color: var(--maroon);}
  

}


.hero .title{
  position: absolute;
  bottom: 8vh;
  width: 100vw;
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-size: 15rem;
  color:var(--paleyellow);
  animation: reviews 3.5s ease-in-out 0.5s infinite alternate;
}

.tagline{
  width: 100vw;
  text-align: center;
  position: absolute;
  bottom: 25vh;
  font-family: 'Alegreya', serif;
  font-size: 2rem;
  font-weight: bold;
  color: var(--maroon);
}

.landing {
  height: 100vh;
}

label {
  float: right;
  color: var(--white);
  position: fixed;
  right: 3vw;
  top: 2vh;
  font-size: 1.21875rem;
  display: none;
  
}
#toggle {
  display: none;
  color: var(--white);
  float: right;
  position: relative;
}

/* for mobiles */

@media screen and (max-width: 1200px) {
  ul {
    right: -120vw;
    transition: all 0.5s ease-in;
    top: 9.1vh;
    z-index: 1;
   
  }

  li {
    float: none;
  }
  li a {
    height: 0.5vh;
    text-align: center;
    
  }
  label {
    display: block;
    cursor: pointer;
    background-color: var(--darkmustard);
    color: var(--white);
    padding: 3vh 5vw 3vh 100vw;
    margin: 0;
    top: 0;
    right: 0;
    position: fixed;
    z-index: 1;
   
  }
  #toggle:checked ~ * ul {
    right: 0;
    top: 9.1vh;
  }

  .hero .title{
    font-size: 6rem;
    top: 20vh;
  }

  .tagline{
    font-size: 1.5rem;
  }
  
  .smalllogo{
    display:none;
  }

  .mobilelogo{
    display: inline;
    z-index: 2;
    position: fixed;
    left: 2vw;
  }
  .tagline{
    bottom: 20vh;
  }
  
  
}
